@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_NavFirstAbout.cshtml";
}

<div class="centered">
    <h1 style="align-content: center;text-align: center;">About</h1>
    <p style="align-content: center;text-align: center;">@ViewBag.Message</p>
</div>
