@{
    ViewBag.Title = "Home Page";
}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <!-- Header -->
        <header id="header" class="alt">
            @Html.ActionLink("Casey Bement - Software Developer", "Resume", "Home")
            
        </header>

        

        <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1>Hi, my name is Casey</h1>
                </header>
                <div class="content">
                    <p>A committed software developer looking to further my career.</p>
                    <ul class="actions">
                        <li><a href="#one" class="button next scrolly">Get started</a></li>
                    </ul>
                </div>
            </div>
        </section>

       