
@{
    ViewBag.Title = "Greeting Page";
    Layout = "~/Views/Shared/_NavFirstInterests.cshtml";
}

<div class="centered">
    <h1 style="align-content: center;text-align: center;">Interests</h1>
    <p style="align-content: center;text-align: center;">@ViewBag.Message</p>
</div>
