
@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_NavFirstResume.cshtml";
}

<div style="align-content: center;text-align: center;">
    <h1 style="align-content: center;text-align: center;">Resume</h1>
    <p style="align-content: center;text-align: center;">@ViewBag.Message</p>
    <iframe src="~/Content/images/Casey Bement Resume.pdf" height="816px" width="816px"></iframe>
</div>